@{
    ViewData["Title"] = "Complete Appointment";
}

    <h1>Complete Appointment with Doctor @Model.Name</h1>

<form action="ConfirmAppointment" method="post">
    <div class="form-group">
        <input type="hidden" class="form-control" id="DoctorId" name="doctorId" value="@Model.Id"
        <label for="patientName">Patient Name:</label>
        <input type="text" class="form-control" id="patientName" name="Patient_Name" required>
    </div>
    <div class="form-group">
        <label for="appointmentDate">Appointment Date:</label>
        <input type="date" class="form-control" id="appointmentDate" name="Appointment_Date" required>
    </div>
    <div class="form-group">
        <label for="appointmentTime">Appointment Time:</label>
        <input type="time" class="form-control" id="appointmentTime" name="Appointment_Time" required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" id="submitBtn">Complete Appointment</button>
</form>


<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Appointment Completed</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Your appointment has been successfully completed. Thank you!</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var appointmentForm = document.getElementById('appointmentForm');
        appointmentForm.addEventListener('submit', function (e) {
            // Show the success modal after form submission
            var myModal = new bootstrap.Modal(document.getElementById('successModal'), {
                backdrop: 'static',
                keyboard: false
            });
            myModal.show();
            // Prevent the default form submission
            e.preventDefault();
        });
    });
</script>